@model List<TP.NETDAL.Model.Produits>

<table>
    <tr>
        <td>Nom</td>
        <td>Description</td>
        <td>Prix</td>
        <td>Details</td>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.label</td>
                <td>@item.description</td>
                <td>@item.prix</td>
                <td>@Html.ActionLink("Détails","Details",new { id = @item.id},null)</td>
            </tr>
        }
    }
</table>
